.mainUl,
.subUl,
.subLi {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainUl input {
    display: none;
}

.mainUl .subUl {
    overflow: hidden;
    display: none;
    max-height: 0;
    transition: all 0.9s ease-in-out;
    transition-delay: 0.1s;
}

.mainUl :checked+.subUl {
    display: block;
    max-height: 900px;
}

h5 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #515357;
}

p {
    font-size: 12px;
    color: #555659;
}